<header class="sticky top-0 z-50 backdrop-blur-md bg-linear-to-r from-pink-100/70 via-blue-100/70 to-indigo-100/70 border-b border-pink-100 shadow-sm">

    <nav class="max-w-6xl mx-auto flex items-center px-6 py-3">

        {# Navigation principale #}
        <div class="flex items-center gap-6">

            <a
                href="{{ path('home') }}"
                class="
                    px-4 py-2 rounded-full text-sm font-semibold transition
                    {{ app.request.attributes.get('_route') == 'home'
                        ? 'bg-indigo-500 text-white shadow'
                        : 'text-indigo-700 hover:bg-indigo-100'
                    }}
                "
            >
                Accueil
            </a>

            <a
                href="{{ path('birthlist') }}"
                class="
                    px-4 py-2 rounded-full text-sm font-semibold transition
                    {{ app.request.attributes.get('_route') == 'birthlist'
                        ? 'bg-indigo-500 text-white shadow'
                        : 'text-indigo-700 hover:bg-indigo-100'
                    }}
                "
            >
                Liste de naissance
            </a>

        </div>

        {# Bouton Admin à droite #}
        <div class="ml-auto flex items-center gap-4">

          
                <a
                    href="{{  (app.user and 'ROLE_ADMIN' in app.user.roles) ? path('app_administration') : path('app_login') }}"
                    class="
                        px-4 py-2 rounded-full text-sm font-semibold transition
                        {{ app.request.attributes.get('_route') == 'app_administration'
                      ? 'bg-pink-500 text-white shadow'
                      : 'text-pink-700 hover:bg-pink-200'
                    }}
                    "
                >
                    ⚙️ Administration
                </a>
     
              {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            
            <a
                href="{{ (app.user and 'ROLE_ADMIN' in app.user.roles) ? path('articles_list') : path('app_login') }}"
                class="
                    px-4 py-2 rounded-full text-sm font-semibold transition
                      {{ app.request.attributes.get('_route') == 'articles_list'
                      ? 'bg-pink-500 text-white shadow'
                      : 'text-pink-700 hover:bg-pink-200'
                    }}
                "
            >
                📋 Gestion Articles
            </a>
            
                <a
                    href="{{ path('app_logout') }}"
                    class="
                        px-4 py-2 rounded-full text-sm font-semibold transition
                        text-red-700 hover:bg-red-200
                    "
                >
                    Se déconnecter
                </a>
            {% endif %}

        </div>

    </nav>

</header>