<div class="flex flex-col flex-wrap gap-3 mb-8">
	<div class="flex items-center gap-2">
		<a href="{{ path('home') }}" data-turbo-frame="articles" class="filter-chip
															{% if app.request.query.get('category') is null %}
															bg-indigo-500 text-white
															{% else %}
															bg-indigo-100 text-indigo-700 hover:bg-indigo-200
															{% endif %}">
			Tous
		</a>

		{% for cat in categories %}

			<a href=" {{ path('home', app.request.query.all|merge({category: cat.value} )) }}" data-turbo-frame=" articles" class="filter-chip
													                            {% if app.request.query.get('category') === cat.value  %}
													                             bg-indigo-500 text-white {% else %} bg-indigo-100 text-indigo-700 hover:bg-indigo-200
													                              {% endif %} ">

				{{ cat.label() }}

			</a>

		{% endfor %}
	</div>
	<div class="flex items-center gap-2">
		<a href="{{ path('home', app.request.query.all|merge({status: ''})) }}" data-turbo-frame="articles" class="filter-chip
										{% if app.request.query.get('status') == '' %}
										bg-indigo-500 text-white {% else %} bg-indigo-100 text-indigo-700 hover:bg-indigo-200
										{% endif %}
										">
			Tous
		</a>
        <a href="{{ path('home', app.request.query.all|merge({status: 'available'})) }}" data-turbo-frame="articles" class="filter-chip
										{% if app.request.query.get('status') == 'available' %}
										bg-indigo-500 text-white {% else %} bg-indigo-100 text-indigo-700 hover:bg-indigo-200
										{% endif %}
										">
			Disponibles
		</a>
		<a href="{{ path('home', app.request.query.all|merge({status: 'booked'})) }}" data-turbo-frame="articles" class="filter-chip
							{% if app.request.query.get('status') == 'booked' %}
							bg-indigo-500 text-white {% else %} bg-indigo-100 text-indigo-700 hover:bg-indigo-200
							{% endif %}
							">
			Réservés
		</a>

	</div>
	<div class="flex items-center gap-2">
		<a href="{{ path('home', app.request.query.all|merge({sort: 'price_asc'})) }}" data-turbo-frame="articles" class="filter-chip
				{% if app.request.query.get('sort') == 'price_asc' %}
				bg-indigo-500 text-white {% else %} bg-indigo-100 text-indigo-700 hover:bg-indigo-200
				{% endif %}
				">
			Prix ↑
		</a>
        <a href="{{ path('home', app.request.query.all|merge({sort: 'price_desc'})) }}" data-turbo-frame="articles" class="filter-chip
				{% if app.request.query.get('sort') == 'price_desc' %}
				bg-indigo-500 text-white {% else %} bg-indigo-100 text-indigo-700 hover:bg-indigo-200
				{% endif %}
				">
			Prix ↓
		</a>
	</div>
</div>
